.header
{
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.menu 
{
  margin: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1130px;
  height: 110px;
  font-weight: 400;
  border-bottom: 1px solid var(--grayish-blue); 
}
.menu .menu__burger 
{
  display: none;
}
.menu .menu__burger img 
{
  width: 100%;
  height: 100%;
}
.menu .menu__nav
{
  display: flex;
  align-items: center;
  gap: 55px;
  height: 100%;
}
.menu .menu__list 
{ 
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  height: 100%;
  transition: left 0.3s ease-out;
}
.menu .menu__list.menu__list--active
{
  left: 0;
}
.menu .menu__list li 
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0px 8px;
  height: 100%;
  position: relative;
}
.menu .menu__list li:hover .menu__underline
{
  opacity: 1;
}
.menu .menu__underline
{
  opacity: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: orange;
  bottom: 0px;
  position: absolute;
  transition: opacity 0.2s ease-out;
}
.menu li a
{
  color: var(--dark-grayish-blue);
  text-decoration: none;
}
.user 
{
  display: flex;
  align-items: center;
  gap: 45px
}
.user .user__cart 
{
  cursor: pointer;
  margin: 10px 5px;
}
.user .user__panel 
{
  top: 87px;
  right: 40px;
  transform: translateX(20%);
  display: none;
  flex-direction: column;
  border-radius: 10px;
  width: 350px;
  overflow: hidden;
  min-height: 260px;
  background-color: var(--white);
  position: absolute;
  -webkit-box-shadow: 0px 30px 55px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 30px 55px -5px rgba(0,0,0,0.25);
  box-shadow: 0px 30px 55px -5px rgba(0,0,0,0.25);
}
.user .user__panel.user__panel--active 
{
  display: flex;
}
.user .user__title 
{
  width: 100%;
  padding: 20px;
  background-color: inherit;
  font-weight: 700;
  border-bottom: 1px solid var(--grayish-blue);
}
.user .user__content 
{
  flex: 1;
  flex-direction: column;
  display: flex;
}
.user .user__content.user__content--empty
{
  align-items: center;
  justify-content: center;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}
.user .user__item
{
  flex: 0;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user .user__item > img 
{
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
.user .user__info 
{
  width: 230px;
  margin: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user .user__info h3, .user .user__info span:first-of-type
{
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}
.user .user__info span 
{
  line-height: 30px;
}
.user .user__info span:last-of-type
{
  color: var(--very-dark-blue);
  font-weight: 700;
  margin-left: 5px;
}
.user .user__item button
{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.user__content > button 
{
  cursor: pointer;
  background-color: var(--orange);
  border: none;
  padding: 20px 0px;
  margin: 10px 20px;
  color: var(--white);
  font-weight: 700;
  border-radius: 10px;
  font-size: 18px;
}
.user .user__icon
{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user .user__icon img
{
  width: 100%;
  height: 100%;
}
.user .user__icon:hover
{
  outline: 2px solid var(--orange);
}
@media only screen and (max-width: 920px) 
{
  .header
  {
    padding: 0;
  }
  .menu 
  {
    margin: 0px 30px;
    height: 70px;
    border-bottom: none;
  }
  .menu .menu__burger 
  {
    display: block;
    width: 16px;
    height: 16px;
  }
  .menu .menu__list
  {
    z-index: 5;
    padding: 30px;
    top: 0px;
    left: 0px;
    width: 250px;
    background-color: var(--white);
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: -250px;
  }
  .menu .menu__list div 
  {
    margin-bottom: 30px;
  }
  .menu .menu__list li 
  {
    height: 0px;
    margin: 20px 0px;
  }
  .menu li a 
  {
    font-weight: 700;
    color: var(--very-dark-blue);
  }
  .menu .menu__nav
  {
    gap: 20px;
  }
  .user 
  {
    gap: 10px
  }
  .user .user__icon
  {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 420px)
{
  .menu 
  {
    position: static;
  }
  .user .user__panel
  {
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
  }
}
