.main
{
  font-family: 'Kumbh Sans', sans-serif;
  max-width: 1050px;
  width: 100%;
  margin: 80px auto 0px auto;
  padding: 0px 20px;
  display: flex;
  gap: 60px;
  justify-content: space-between;
}
.slider
{
  max-width: 450px;
}
.info 
{
  max-width: 460px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 30px 10px 0px 10px;
}
.info .info__company 
{
  font-size: 14px;
  color: var(--orange);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.info .info__title 
{
  font-size: 48px;
  color: var(--very-dark-blue);
  margin-bottom: 30px;
}
.info .info__description 
{
  font-size: 16px;
  color: var(--dark-grayish-blue);
  line-height: 24px;
  margin-bottom: 30px;
}
.info .info__wrapper 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.info .info__price 
{
  display: inline-flex;
  align-items: center;
}
.info .info__price i 
{
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  color: var(--very-dark-blue);
}
.info .info__price h2 
{
  font-size: 32px; 
  font-weight: 700;
  color: var(--very-dark-blue);
}
.info .info__price span
{
  padding: 3px 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: var(--orange);
  background-color: var(--pale-orange);
  border-radius: 5px;
  margin-left: 20px;
}
.info .info__off 
{
  font-size: 18px;
  font-weight: 700;
  text-decoration-line: line-through;
  color: var(--grayish-blue);
}
.info .info__form 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; 
}
.info .info__amount
{
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;background-color: var(--light-grayish-blue); 
  border-radius: 10px;
}
.info .info__amount button
{
  cursor: pointer;
  width: 50px;
  height: 60px;
  border: none;
  background-color: var(--light-grayish-blue); 
}
.info .info__amount button:hover
{
  opacity: 0.5;
}
.info .info__amount button:first-child
{
  border-radius: 10px 0px 0px 10px;
}
.info .info__amount button:last-child
{
  border-radius: 0px 10px 10px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] 
{
  -moz-appearance: textfield;
}
.info .info__amount input
{
  border: none;
  max-width: 40px;
  padding-left: 15px;
  font-size: 16px;
  height: 60px;
  background-color: var(--light-grayish-blue);
  font-weight: 700;
  outline: none;
}
.info .info__button.info__button--submit
{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  border-radius: 10px;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  -webkit-box-shadow: 0px 18px 37px -14px var(--orange);
  -moz-box-shadow: 0px 18px 37px -14px var(--orange);
  box-shadow: 0px 18px 37px -14px var(--orange);
}
.info .info__button.info__button--submit:hover
{
  opacity: 0.5;
}

.info .info__form.info__form--disabled .info__button, 
.info .info__form.info__form--disabled input[type="number"],
.info .info__form.info__form--disabled .info__button.info__button--submit
{
  cursor: default;
  opacity: 0.5;
}
.slider{
  position: relative;
  z-index: 0;
}
#modal .slider 
{
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal__ligthbox
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.75;
}
.slider__wrapper 
{
  border-radius: 16px;
  overflow: hidden;
}
.slider__cards 
{
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: translateX(0px);
}
#modal .slider__cards
{
  width: 550px;
  height: 550px;
}
.slider__card 
{
  flex-shrink: 0;
  width: 450px;
  height: 450px;
}
#modal .slider__card
{
  width: 550px;
  height: 550px;
}
.slider__card img
{
  width: 100%;
  height: 100%;
}
.slider__previews 
{
  max-width: 450px;
  margin: 30px auto 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider__preview 
{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.slider__ligthbox 
{
  width: 100px;
  height: 100px;
  background-color: var(--white);
  position: absolute;
  top: 0px;
  opacity: 0;
}
.slider__preview:hover .slider__ligthbox
{
  opacity: .4;
}
.slider__preview.slider__preview--focus 
{
  outline: 2px solid var(--orange);
}
.slider__preview.slider__preview--focus .slider__ligthbox
{
  opacity: .8;
}
.slider__preview img
{
  width: 100%;
  height: 100%;
}
.slider__buttons
{ 
  user-select: none;
  display: none;
  position: absolute;
  top: 38.7%;
  background-color: var(--white);
  padding: 15px 20px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}
.slider__buttons:hover img
{
  filter: invert(61%) sepia(53%) saturate(3464%) hue-rotate(346deg) brightness(101%) contrast(103%);
}
.slider__buttons.slider__buttons--left
{
  left: 10px;
}
.slider__buttons.slider__buttons--right
{
  right: 10px;
}
.slider__buttons.slider__buttons--focus.slider__buttons--left 
{
  display: block;
  left: -27px;
}
.slider__buttons.slider__buttons--focus.slider__buttons--right
{
  display: block;
  right: -27px;
}
.modal 
{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  text-align: right;
}
.modal.modal--active
{
  display: block;
}
.modal .modal__close 
{
  cursor: pointer;
  user-select: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}
.modal .modal__close:hover img 
{
  filter: invert(61%) sepia(53%) saturate(3464%) hue-rotate(346deg) brightness(101%) contrast(103%);
}
.modal .modal__close img 
{
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 920px)
{
  .main 
  {
    margin: 0px auto 0px auto;
    flex-direction: column;
    align-items: center;
  }
  .main .main__lightbox
  {
    display: block;
  }
  .info
  {
    padding: 0px;
  }
  .info, .slider 
  {
    max-width: 100%;
  }
  .info .info__title
  {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .info__content 
  {
    padding: 20px;
  }
  .info .info__wrapper
  {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .info .info__form
  {
    flex-direction: column;
  }
  .info .info__amount
  {
    width: 100%;
  }
  .info .info__button.info__button--submit 
  {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .slider .slider__buttons
  {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
  }
  .slider .slider__previews
  {
    display: none;
  }
}

@media only screen and (max-width: 600px)
{
  .main 
  {
    padding: 0px;
    gap: 0px;
  }
  .slider__wrapper
  {
    border-radius: 0px;
  }
  .slider__cards
  {
    width: 100%;
    height: 100%;
  }
  .slider__card 
  {
    width: 100%;
    height: 300px;
  }
  .slider__card img 
  {
    object-fit: cover;
  }
  .info .info__wrapper
  {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .info .info__description
  {
    margin-bottom: 20px;
  }
  .info .info__form 
  {
    width: 100%;
  }
}
